.footer {
    background-color: $bgdark;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: $text-color1;
}

.footer__button {
    margin-top: 53px;
    margin-bottom: 110px;
    padding: 10px 30px;
    display: flex;
    align-items: center;
    gap: 20px;
    border: 1px solid #f2f2f2;
    border-radius: 139px;
}

.footer__button--cont-img {
    width: 50px;
    height: auto;
}

.footer__button--img {
    width: 100%;
}

.footer__button-content {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.footer__title {
    line-height: 24px;
}

.footer__text {
    display: flex;
    align-items: center;
    gap: 25px;
    line-height: 20.49px;
}

.text__img {
    width: 25px;
    height: auto;
}

.footer__social {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 40px;
}

.footer__social-list {
    display: flex;
    gap: 34px;
    align-items: center;
    justify-content: center;
}

.footer__social-link {
}

.footer__cocial-img {
    width: 24px;
    height: auto;
}

.footer__copyright {
    text-align: center;
    line-height: 19.12px;
}

@import "./footer-tablet.scss";
@import "./footer-desktop.scss";
