.header__nav {
}

.nav__menu-list {
    display: flex;
    gap: 20px;
}

.nav__menu-item {
    display: flex;
    gap: 12px;
    border: 1px solid $text-color1;
    border-radius: 20px;
    padding: 10px 16px;
}

.nav__menu-link {
    display: flex;
    gap: 12px;
    color: $text-color1;
}

@media only screen and (min-width: 320px) and (max-width: 1200px) {
    .header__nav {
        display: none;
    }
}
