.menu {
}

.menu__toggle {
    display: none;
}

.menu__button {
    cursor: pointer;
    display: inline-block;
}

.menu__items {
    display: none;
    position: fixed;
    width: 35%;
    height: 100%;
    left: 0;
    top: 78;
    text-align: center;
    z-index: 100;
    overflow-y: auto;
}

.menu__toggle:checked + .menu__button + .menu__items {
    display: block;
}

.menu__item {
    display: flex;
    justify-content: start;
    border: 1px solid $text-color1;
    border-radius: 20px;
    padding: 10px 16px;
    background: $bggradient;
    text-decoration: none;
    color: black;
    margin-top: -1px;
}

@media only screen and (min-width: 1200px) {
    .menu__button {
        display: none;
    }
}
