@import url("https://fonts.googleapis.com/css2?family=DynaPuff&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200&display=swap");

.text {
    font-size: 15px;
    font-family: "Manrope", sans-serif;
}

.subtitle_ {
    font-size: 24px;
    font-family: "DynaPuff", sans-serif;
    font-weight: 700;
}

.subtitle {
    font-size: 32px;
    font-family: "DynaPuff", sans-serif;
    font-weight: 700;
}

.title_ {
    font-size: 36px;
    font-family: "DynaPuff", sans-serif;
    font-weight: 700;
}

.title {
    font-size: 48px;
    font-family: "DynaPuff", sans-serif;
    font-weight: 700;
}

@media screen and (min-width: 768px) {
    .text {
        font-size: 16px;
        font-family: "Manrope", sans-serif;
    }

    .subtitle_ {
        font-size: 32px;
        font-family: "DynaPuff", sans-serif;
        font-weight: 700;
    }

    .subtitle {
        font-size: 40px;
        font-family: "DynaPuff", sans-serif;
        font-weight: 700;
    }

    .title_ {
        font-size: 48px;
        font-family: "DynaPuff", sans-serif;
        font-weight: 700;
    }

    .title {
        font-size: 80px;
        font-family: "DynaPuff", sans-serif;
        font-weight: 700;
    }
}
