$bgdark: #202020;
$bglight: #3c3c3c;
$bghite: #fffef2;
$bggradient: linear-gradient(100deg, #d6d6d6, #ffee32);
$text-color1: #ffffff;
$text-color2: #565656;
$text-color3: #faeb49;

* {
    box-sizing: border-box;
}

body {
    min-width: 320px;
    overflow-x: hidden;
}

.wrapper {
    max-width: 100%;
}

@media only screen and (min-width: 320px) and (max-width: 769px) {
}

@media only screen and (min-width: 769px) and (max-width: 1200px) {
}

@media only screen and (min-width: 1200px) {
}
