.gallery {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 74px 17px;
    background-color: $bgdark;
    width: 100%;
    box-sizing: border-box;
}

.gallery__section {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.gallery__item {
    width: 100%;
    height: 325px;
    position: relative;
    overflow: hidden;
    border-radius: 40px;
    box-sizing: border-box;
}

.gallery__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
    filter: grayscale(100%);
}

.gallery__item--grid1::before,
.gallery__item--grid2::before,
.gallery__item--grid3::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    background-size: cover;
    background-position: center;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.gallery__item::before,
.gallery__item::after {
    filter: none !important;
}

.gallery__item--grid1::before {
    background-image: url("../../../images/soft-star.png");
    width: 170px;
    height: 170px;
}

.gallery__item--grid2::before {
    background-image: url("../../../images/butterfly.png");
    width: 134px;
    height: 137px;
}

.gallery__item--grid3::before {
    background-image: url("../../../images/asterisk.png");
    width: 148px;
    height: 143px;
}

@import "./gallery-tablet.scss";
@import "./gallery-desktop.scss";
