@media only screen and (min-width: 769px) and (max-width: 1200px) {
    .gallery {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 74px 17px;
        width: 100%;
        background-color: $bgdark;

        .gallery__section {
            display: grid;
            grid-template-rows: 1fr 1fr;
            grid-template-columns: 1fr 1fr;
            gap: 20px;
            width: 100%;
            overflow: hidden;
        }

        .gallery__item {
            max-width: 100%;
        }

        .gallery__img {
            width: 100%;
            height: 414px;
            object-fit: cover;
            border-radius: 40px;
            filter: grayscale(100%);
        }

        .gallery__item--grid1 {
            grid-column: 1 / span 2;
        }

        .gallery__item--grid2,
        .gallery__item--grid3 {
            grid-row: 2;
        }
    }

    .gallery__item--grid1::before {
        background-image: url("../../../images/soft-star.png");
        width: 227px;
        height: 227px;
    }

    .gallery__item--grid2::before {
        background-image: url("../../../images/butterfly.png");
        width: 147px;
        height: 151px;
    }

    .gallery__item--grid3::before {
        background-image: url("../../../images/asterisk.png");
        width: 183px;
        height: 177px;
    }
}
