@media only screen and (min-width: 1200px) {
    .enumeration {
        padding: 203px 191px;
    }

    .enumeration__title {
        line-height: 57.6px;
    }

    .enumeration__text {
        line-height: 21.86px;
    }

    .enumeration__section {
        gap: 96px;
    }

    .enumeration__number {
        line-height: 57.6px;
    }
}
