.enumeration {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 74px 17px;
    background-color: $bgdark;
    color: $text-color1;
}

.enumeration__title {
    color: $text-color3;
    line-height: 43.2px;
}

.enumeration__text {
    line-height: 20.49px;
}

.enumeration__section {
    display: flex;
    gap: 14px;
}

.enumeration__item {
    display: flex;
    flex-direction: column;
    gap: 5px;
    line-height: 21.86px;
}

.enumeration__number {
    line-height: 43.2px;
}

@import "./enumeration-tablet.scss";
@import "./enumeration-desktop.scss";
