@media only screen and (min-width: 1200px) {
    .examples {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: repeat(3, 1fr);
        background-color: $bglight;
        gap: 20px;
        padding: 82px 191px;
        width: 100%;

        .card1,
        .card2,
        .card3,
        .card4 {
            overflow: hidden;
        }

        .card1 {
            grid-area: 1 / 1 / 2 / 4;
        }

        .card2 {
            grid-area: 2 / 1 / 3 / 2;
        }

        .card3 {
            grid-area: 2 / 2 / 3 / 3;
        }

        .card4 {
            grid-area: 2 / 3 / 3 / 4;
        }

        .exampl__ {
            display: flex;
            flex-direction: column;
            box-sizing: border-box;
            background-color: $bghite;
            gap: 20px;
            border-radius: 20px;
            overflow: hidden;
            padding: 24px 20px;
        }

        .exampl__img {
            max-width: 100%;
            object-fit: cover;
            border-radius: 20px;
        }
        .exampl__img--1 {
            height: 498px;
        }

        .exampl__img--2,
        .exampl__img--3,
        .exampl__img--4 {
            height: 338px;
        }

        .examle__desc {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
    }
}
