@media only screen and (min-width: 769px) {
    .examples {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        background-color: $bglight;
        gap: 20px;
        padding: 101px 33px;
        width: 100%;

        .card1 {
            grid-column: 1 / span 2;
        }

        .card2,
        .card3 {
            grid-row: 2;
        }

        .exampl__ {
            display: flex;
            flex-direction: column;
            box-sizing: border-box;
            background-color: $bghite;
            gap: 20px;
            border-radius: 20px;
            overflow: hidden;
            padding: 24px 20px;
        }

        .exampl__img {
            max-width: 100%;
            object-fit: cover;
            border-radius: 20px;
            height: 498px;
        }

        .exampl__img--1,
        .exampl__img--2,
        .exampl__img--3 {
            height: 498px;
        }

        .examle__desc {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
        .card4 {
            display: none;
        }
    }
}
