.examples {
    display: flex;
    flex-direction: column;
    background-color: $bglight;
    gap: 20px;
    padding: 74px 17px;
    box-sizing: border-box;
    width: 100%;
    .exampl__ {
        display: flex;
        flex-direction: column;
        background-color: $bghite;
        gap: 20px;
        border-radius: 20px;
        overflow: hidden;
        padding: 20px;

        .exampl__img--wrapper {
            position: relative;
            width: 100%;
            display: block;
            border-radius: 20px;
            overflow: hidden;
        }

        .exampl__img--wrapper::after {
            content: "";
            position: absolute;
            top: 20px;
            right: 20px;
            width: 56px;
            height: 56px;
            background-color: white;
            border-radius: 50%;
            background-image: url("../../../images/errow.svg");
            background-size: 24px 24px;
            background-repeat: no-repeat;
            background-position: center;
            z-index: 10;
        }

        .exampl__img {
            width: 100%;
            height: 278px;
            object-fit: cover;
            border-radius: 20px;
        }

        .examle__desc {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
    }
    .card3,
    .card4 {
        display: none;
    }
}

@import "./examples-tablet.scss";
@import "./examples-desktop.scss";
