@media only screen and (min-width: 769px) {
    .header {
        padding: 0px 33px;
        .header__section-nav {
            padding-top: 40px;
        }

        .header__section-slogan {
            padding: 273px 0px 130px;
            line-height: 96px;
        }
    }

    @import "../../components/menu-button.scss";
}
