.header {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    background: $bggradient;
    padding: 0px 17px;
}

.header__section-nav {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__section-slogan {
    padding: 329px 0px 149px;
    color: $text-color1;
    line-height: 57.6px;
}

@import "../../components/menu-button.scss";
@import "./header-tablet.scss";
@import "./header-desktop.scss";
