@media only screen and (min-width: 1200px) {
    .header {
        padding: 0px 191px;

        .header__section-nav {
            padding-top: 50px;

            @import "../../components/header-nav.scss";
        }
        .header__section-slogan {
            padding: 273px 0px 130px;
            line-height: 96px;
        }
    }
}
