.device {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("../../../images/fon.jpg");
    padding-left: 17px;
    padding-right: 17px;
    text-align: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    max-width: 100%;
    height: 498px;
}

.device__title {
    color: $text-color1;
}

@import "./device-tablet.scss";
@import "./device-desktop.scss";
