@media only screen and (min-width: 1200px) {
    .device {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-image: linear-gradient(
                rgba(0, 0, 0, 0.5),
                rgba(0, 0, 0, 0.5)
            ),
            url("../../../images/fon.jpg");
        padding-left: 191px;
        padding-right: 191px;
        text-align: center;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        max-width: 100%;
        height: 800px;
    }
}
